/* Modo oscuro */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: background-color 0.5s ease;
}

body.active {
    background-color: #2c2c2e;
    color: white; 
}

/* my-profile*/
body.active .user-profile-container {
    background-color: #1e1e1e; 
    color: white; 
}


body.active input, body.active .form-control {
    background-color: #333;
    color: white;
    border: 1px solid #555;
}
/* my-profile*/

/* product-info */
/* Estilos para el contenedor del producto en modo oscuro */
body.active #product-container {
    background-color: #1e1e1e; /* Fondo oscuro para el contenedor de detalles del producto */
    color: white; /* Texto blanco */
}
/* Estilos para la tarjeta de detalles del producto */
body.active .product-detail-card {
    background-color: #292929; /* Fondo oscuro para la tarjeta */
    color: white; /* Texto en blanco */
    border: 1px solid #444; /* Borde gris oscuro */
}

/* Descripción del producto */
body.active .product-description {
    background-color: #1e1e1e; /* Fondo oscuro */
    color: #ddd; /* Texto gris claro */
}
/* product-info */

.dark-mode {
    width: 50px;
    height: 24px;
    display: flex;
    align-items: center;
    border-radius: 999px;
    background-color: #dfdede;
    cursor: pointer;
}

body.active .dark-mode {
    background-color: white;
    transition: background-color 0.5s ease;
}

.dark-mode .circle {
    width: 40%;
    height: 80%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    transform: translate(10%);
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

body.active .circle {
    transform: translateX(140%);
    background-color: #2a2a2c;
}

.dark-mode .circle ion-icon {
    width: 70%;
    height: 70%;
    position: absolute;
    transition: transform 0.5s ease;
}

.dark-mode .circle .moon {
    color: white;
    transform: translateY(-120%);
}

body.active .circle .moon {
    transform: translateX(0);
}

.dark-mode .circle .sun {
    color: #fcde5b;
}

body.active .circle .sun {
    transform: translateY(120%);
}
