
.input-group {
    margin-bottom: 20px;
}

label {
    color: #ccc;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #444;
    background-color: #333;
    color: #fff;
}

input::placeholder {
    color: #777;
}

input:focus {
    border-color: #9b7efc;
    outline: none;
}

input:valid {
    border-color: #00cc00;
}

.input-group.error input {
    border-color: #cc0000;
}

.error-message {
    color: #cc0000;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

.input-group.error .error-message {
    display: block;
}

