.input-box {
    margin-bottom: 20px;
}

.input-box label {
    color: #ccc;
    margin-bottom: 5px;
    
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #444;
    background-color: #1d2125;
    color: #fff;
}

.input::placeholder {
    color: #999; 
}

.input:focus {
    border-color: #2a49ff;
}

.input:valid {
    border-color: #091456;
}

.input-box.error .input {
    border-color: #E42427;
}

.error-message {
    color: #E42427;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

.input-box.error .error-message {
    display: block;
}





